/* src/styles/MyEngineScene.css */
.canvas-container {
    display: flex;
    width: 99.8%;  /* Largura ocupando 100% da viewport */
    height: 95%; /* Altura ocupando 100% da viewport */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000; /* Fundo preto para dar contraste */
    overflow: hidden; /* Evitar barras de rolagem */
    border: solid 1px white;
  }